
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.flex {
  background-color: #00c7ce;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.flex > div {
  width: 100px;
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
  flex-basis:100px;
}
