.flex {
  background-color: #00c7ce;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 200px;
  height: 20vh;
}

.flex > div:nth-child(1) {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
  order:3;
}

.flex > div:nth-child(2) {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
  order:4;
}

.flex > div:nth-child(3) {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
  order:1;
}

.flex > div:nth-child(4) {
  background-color: #fff;
  margin: 5px;
  font-size: 30px;
  order:2;
}